<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="https://goexplore-admin.herokuapp.com/<%= booking.payments.proofPayment %>" alt="Images" style="height: 100%;display: block;">
            <div class="d-flex">

                <% if(booking.payments.status == 'Proses') {%>
                    <form action="/admin/booking/<%= booking.id %>/confirmation?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-success btn-sm delete text-white py-2 my-3 mr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
                             Confirmation
                        </button>
                    </form>
                    <form action="/admin/booking/<%= booking.id %>/reject?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm delete text-white py-2 my-3">
                            <svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                             Rejected
                        </button>
                    </form>
                <% } %>

            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="d-flex justify-content-end mb-4">
            <a href="/admin/booking" class="btn btn-dark btn-lg text-white d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="19" height="19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                </svg>
                Back
            </a>
        </div>
        <table id="datatables01" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Title</th>
                    <th>Bank From</th>
                    <th>Total</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= booking?.memberId?.firstName ?? 'Member' %> <%= booking?.memberId?.lastName ?? 'Name' %></td>
                    <td><%= booking?.itemId?.title ?? 'Destination Name' %></td>
                    <td><%= booking?.payments?.bankFrom ?? 'Bank Name' %></td>
                    <td><%= booking?.total ?? 0 %></td>
                    <td>$ <%= booking?.itemId?.price ?? 0 %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>