<div class="d-flex justify-content-end">
    <a href="/admin/item" class="btn btn-dark btn-lg text-white d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="19" height="19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
        Back
    </a>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#edit_item" role="tab" aria-controls="edit_item" aria-selected="true">Show Image</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="edit_item" role="tabpanel" aria-labelledby="home-tab">
        
        <div class="px-2 mt-3">
            <form action="/admin/item/<%= item.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Title</label>
                        <input type="title" class="form-control" name="title" value="<%= item.title %>" id="title" placeholder="Enter Title" required>
                        <small id="emailHelp" class="form-text text-muted">Awali Dengan Huruf Kapital!</small>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Price</label>
                        <input type="number" class="form-control" name="price" value="<%= item.price %>" id="price" placeholder="Enter Price" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" name="city" value="<%= item.city %>" id="city" placeholder="Enter City" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="name">Description</label>
                        <textarea name="about" class="form-control" id="about" rows="3"><%= item.description %></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name">Category</label>
                        <select class="form-control" name="categoryId">
                            <option selected value="<%= item.categoryId._id %>">-- <%= item.categoryId.name %> --</option>
                            <% for (let i = 0;i < category.length;i ++ ){ %>
                                <option value="<%= category[i].id %>"><%= category[i].name %></option> 
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload File</label>
                        <input type="file" class="form-control" name="image" placeholder="Enter Name" multiple>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning text-white">Edit Item</button>
            </form>
        </div>

    </div>
</div>